/* CSS for the weather application */

/* Border and background of the application */
.container {
  background: linear-gradient(91.3deg, #7d84b2 1.5%, #d9dbf1 100.3%);
  border: #8e9dcc solid 2px;
  box-shadow: 10px 10px 25px 7px #7d84b2;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  top: 20px;
  max-width: 700px;
  max-height: 640px;
}

/* Text of the weather application */
body {
  color: #0d0628;
  background: #d9dbf1;
}
.city {
  font-size: 20px;
}

.date,
#currentWeatherUpdate {
  margin: 0 auto;
  font-size: 20px;
}

.weather-type {
  margin: 0 auto;
  text-transform: capitalize;
}

li {
  list-style: none;
}

ul.weather-parameters {
  font-size: 17px;
}

/* Temperature text, weather icon style */
#celsius,
#fahrenheit {
  color: #0d0628;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  bottom: 1.5rem;
}

#weatherIcon {
  width: 100;
  position: relative;
  right: 1rem;
}

.temperature {
  position: relative;
  font-size: 40px;
  margin: 0 auto;
}

li#temperatureDisplay {
  position: relative;
  margin: auto;
  float: right;
  right: 24rem;
  top: 2.5rem;
}

/* Weather form and bottoms */
#search-city,
#current-location {
  margin: auto;
}

#search-city {
  display: flex;
  color: #272838;
  box-shadow: 0 0 20px #d9dbf1;
  width: 40px;
  height: 40px;
  border: 1px solid #8e9dcc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  background: linear-gradient(0deg, #7d84b2 0%, #7d84b2 100%);
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#search-city:hover {
  background: #d9dbf1;
  background: linear-gradient(0deg, #d9dbf1 0%, #d9dbf1 100%);
}

#current-location {
  color: #272838;
  box-shadow: 0 0 20px #d9dbf1;
  width: 40px;
  height: 40px;
  border: 1px solid #8e9dcc;
  display: flex;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  background: linear-gradient(315deg, #7d84b2 0%, #7d84b2 74%);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#current-location:hover {
  color: #020108;
}

.row-5 {
  padding: 10px;
}

.col {
  padding: 10px;
}

.weather-card-two {
  position: relative;
  margin: 0 auto;
  float: right;
  right: 11.5rem;
  bottom: 6.5rem;
}

.city-entry {
  background-color: #d9dbf1;
  border-radius: 10px;
  border: #8e9dcc solid 2px;
  height: 40px;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
}

/* Weather forecast section */
#forecastList {
  position: relative;
  margin: 0 auto;
  bottom: 4.5rem;
}

.weather-forecast {
  margin-top: 1.5rem;
  text-align: center;
  position: relative;
  right: 1rem;
}

span#forecastTitle {
  font-size: 17px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #333438;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #333438;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}

img#weather-forecast-icons {
  position: relative;
  right: 0.5rem;
}

/* Footer section for the bottom of the page */
#developerFooter {
  position: relative;
  margin: 0 auto;
  top: 2rem;
  left: 1rem;
  max-width: 700px;
  max-height: 630px;
}

#projectLink {
  text-decoration: none;
}
